body{
    background-color: blanchedalmond;
    color:rgb(158, 177, 158);

}
.red-text{
    color: red;
}
p{
    font-size: 16px;
    font-family: monospace, sans-serif;
    text-align: justify;
    line-height: 25px;
}
.smaller-image{
    width: 100px;
    border-radius: 50%;
}
.thick-green-border {
    border-color:green;
    border-width:10px;
    border-style:solid;
  }

.silver-background{
    background-color: silver;
}
#cat-photo-form{
    background-color: green;
  }
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

.yellow-box {
    background-color: yellow;
    padding: 10px;
  }

.red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px 40px 20px 40px;
    margin: 20px 40px 20px 40px;
  }

  .blue-box {
    background-color: blue;      
    padding: 20px 40px 40px 20px;
    margin: 20px 40px 40px 20px
    
  }
h1{
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
  padding: 10px;
  font-size: 27px;
  position: relative;
  top: 13px;
}
h4 {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
  padding: 10px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 200;
}
#jus {
  text-align: justify;
}
.links {
  text-align: left;
  color: black;
  opacity: o.7;
}
.fullCard {
  width: 245px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 50px 50px;
  padding: 10px;
}
.cardContent {
  padding: 10px;
}
.cardText {
  margin-bottom: 30px;
}
#thumbnail{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19) 0, 6px 6px rgba(0,0,0,0.23)
}
