.red-text{
    color: red;
}
p{
    font-size: 16px;
    font-family: monospace, sans-serif;
}
.smaller-image{
    width: 100px;
    border-radius: 50%;
}
.thick-green-border {
    border-color:green;
    border-width:10px;
    border-style:solid;
  }

.silver-background{
    background-color: silver;
}
#cat-photo-form{
    background-color: green;
  }
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px 40px 20px 40px;
    margin: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding:40px 20px 20px 40px; /*multiple padding is done using clockwise direction 
    margin: 20px;
  }